<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=demoblobsfactelect;AccountKey=vZoxpF+3IsT6hIzl3jXO8dJLwwXPBZYO//NsTPdKmjWnr7cm6J9XwLCU5h0EFN21u49hsStLNtwjybVWV3mP6Q==" />
    </appSettings>
</configuration>